<div>

    <h2 translate="practiceApp.todo.home.title">Todo</h2>

    <div class="row">
        <form ng-submit="create()">
            <input id="ToDoItem" class="form-control" type="text" ng-model="todo.title" maxlength="50" autofocus placeholder="Please Enter what you plan to do?">
        </form>
    </div>

    <!--button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveTodoModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="practiceApp.todo.home.createLabel">Create a new Todo</span>
    </button-->
    <div class="modal fade" id="saveTodoModal" tabindex="-1" role="dialog" aria-labelledby="myTodoLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTodoLabel" translate="practiceApp.todo.home.createOrEditLabel">Create or edit a Todo</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="todo.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="practiceApp.todo.title">Title</label>
                            <input type="text" class="form-control" name="title"
                                   ng-model="todo.title">

                            <div ng-show="editForm.title.$invalid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="practiceApp.todo.status">Status</label>
                            <input type="text" class="form-control" name="status"
                                   ng-model="todo.status">

                            <div ng-show="editForm.status.$invalid">
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="practiceApp.todo.user">user</label>
                            <select class="form-control" name="user" ng-model="todo.user.id" ng-options="user.id as user.id for user in users">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTodoConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(todo.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="practiceApp.todo.delete.question" translate-values="{id: '{{todo.id}}'}">Are you sure you want to delete this Todo?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="practiceApp.todo.title">Title</th>
                    <th translate="practiceApp.todo.status">Status</th>
                    <th translate="practiceApp.todo.user">user</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="todo in todos">
                    <td><a ui-sref="todoDetail({id:todo.id})">{{todo.id}}</a></td>
                    <td>{{todo.title}}</td>
                    <td>{{todo.status}}</td>
                    <td>{{todo.user.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="todoDetail({id:todo.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(todo.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(todo.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
